<h1 position="center">Seleccione el consejo comunal</h1>

<div class="entorno">
<h2>Seleccione el consejo comunal</h2>


  <mat-form-field id="seleccion" appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="filtroComunidad">
  </mat-form-field>

  <app-formulario (agregarComunidad)="agregar($event)"></app-formulario>
  <div id="scroll">
    <table id="tablaComunidad" mat-table [dataSource]="comunidad | filter:filtroComunidad" class="mat-elevation-z8">
  
    <!-- En caso de ser necesario mostrar el id
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let comunidad"> {{comunidad.id}} </td>
    </ng-container>
    -->

      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Comunidad </th>
        <td mat-cell *matCellDef="let comunidad"> {{comunidad.text}}
          <mat-icon (click)="(editar(comunidad))" color="primary">edit</mat-icon>
          <mat-icon (click)="(borrar(comunidad))" color="warn">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
    </table>

  </div>

</div>